* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

body {
    margin: 0 auto;
    line-height: 1.71429;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
}

.header {
    display: flex;
    background-color: white;
    height: 65px;
    width: 100%;
    align-items: center;
    color: #000000;
    justify-content: center;
}

.logo {
    cursor: pointer;
    font-size: 100%;
    margin-bottom: 0%;  
}

.graphic{
    cursor: pointer;
    font-size: 100%;
    margin-bottom: 0%;  

}

.drop{
    cursor: pointer;
    display: flex;
    background-color: #ffe521;
    border: #ffe521;
    font-size: 20px;
}

.menu {
    display: flex;
    background-color: #ffe521;
    height: 40px;
    width: 100%;
    align-items: center;
    color: #000000;
    justify-content: space-around;
}

.dashboard{
    display: flex;
    background-color: #F7F7F7;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.block{
    display: flex;
    background-color: #F7F7F7;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    color: black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;

}

.title{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    cursor: pointer;
}

.box{
    display: flex;
    background-color: white;
    border: 1px solid #F7F7F7;
    height: 125px;
    width: 350px;
    margin: 5px;
    padding: 5px;
    border-radius: 2%;
}

.box1{
    display: flex;
    background-color: white;
    border: 1px solid #F7F7F7;
    height: 270px;
    width: 350px;
    margin: 5px;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 2%;
}

.text{
    display: flex;
    color: #000000;
    justify-content: center;
}



*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .container:after {
    clear: both;
  }

  .mb-0 {
    margin-bottom: 0px;
  }

  .mt-0 {
    margin-top: 0px;
  }

  .m-0 {
    margin: 0px;
  }
.text-uppercase {
    text-transform: uppercase;
  }
